{% extends "home.html" %}
{% block content %} 
    <p>The image contains {{ result['species'] }} which is {{ result['endangered_status'] }}
    {% if result['endangered_status'] == 'ENDANGERED' or result['endangered_status'] == 'CRITICALLY ENDANGERED' %}
        and is
        {% if result['unusual_location'] == True %}
            in an unusual location.
        {% else %}
            in not in an unusual location
        {% endif %}
    {% endif %} </p>
    <p>The model was {{ "%.2f"|format(result['confidence']) }}% confident in its conclusion.</p>

{% endblock %}