<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', path= 'css/style.css') }}">
    <title>Home</title>
</head>
<body>
    <h1>Animal Classifier</h1>
    <form method="POST" action="/analyze" enctype="multipart/form-data">
        <label for="upload-photo">Upload a Photo of an Animal</label>
        <input type="file" id="upload-photo" name="img_file" accept="image/jpeg, image/png">
        <br>
        <label for="context">Any information you want to provide on the weather, biome, habitat, or location<br></label>
        <input type="text" id="context" name="additional_info">
        <br>
        <button type="submit">Upload</button>
    </form>
    <div class="container">
        {% block content %} {% endblock %}
    </div>
</body>
</html>